@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sign-in-button {
  background: linear-gradient(135deg, #2437DA,#1340E8);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #1340E8;
}
.sign-in-button2 {
  background: linear-gradient(135deg, #015FF3,#77EFEC);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77EFEC;
}
.dashboard-review {
  background: linear-gradient(135deg, #015FF3,#77EFEC);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77EFEC;
}
.navbar2 {
  background: linear-gradient(135deg, #015FF3,#77EFEC);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77EFEC;
}
.offcanvas-header {
  background: linear-gradient(135deg, #015FF3,#77EFEC);
  background-size: 110%;
}
.form-labels {
  background: linear-gradient(135deg, #015FF3,#77EFEC);
  background-size: 110%;
}
input:-webkit-autofill { 
  -webkit-background-clip: text;
}
.close-btn:hover {
  background: linear-gradient(135deg, red,red);
}

.admin-checkbox:checked {
  background: linear-gradient(135deg, #015FF3,#77EFEC);
  border: none;
}