@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("../node_modules/@syncfusion/ej2-base/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-inputs/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-popups/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-lists/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-react-calendars/styles/material.css");

:root {
  --toastify-color-dark: white !important;
  --toastify-color-progress-light: #ba01ff !important;
  --toastify-color-info: #015ff3 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Authentication Page */
.dashboard-review-blue {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77efec;
}
.dashboard-review-purple {
  background: linear-gradient(135deg, #ba01ff, #7944f6);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #7944f6;
}
.form-label-blue {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
}
.form-label-purple {
  background: linear-gradient(135deg, #ba01ff, #7944f6);
  background-size: 110%;
}
.button-blue {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77efec;
}
.button-purple {
  background: linear-gradient(135deg, #ba01ff, #7944f6);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #7944f6;
}
/* .sign-in-button-blue {
  background: linear-gradient(135deg, #2437da, #1340e8);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #1340e8;
} */
.check-button-purple:checked {
  background-color: #ba01ff !important;
  border-color: #ba01ff !important;
  box-shadow: 0 0 0 5px rgb(186, 1, 255, 0.2) !important;
}
.check-button-purple:focus {
  border-color: #ba01ff !important;
  border-width: 0px;
  box-shadow: 0 0 0 5px rgb(186, 1, 255, 0.2) !important;
}
/* Offcanvas  */
.offcanvas-header-blue {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
}
.offcanvas-header-purple {
  background: linear-gradient(135deg, #ba01ff, #7944f6);
  background-size: 110%;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
}
.close-btn:hover {
  background: linear-gradient(135deg, red, red);
}

.admin-checkbox:checked {
  background: linear-gradient(135deg, #015ff3, #77efec);
  border: none;
}

/* INFO-CARD  */
.card-rotate {
  animation: slidein 0.5s normal;
}

@keyframes slidein {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

/* LOG-CARD  */
.forward-ping {
  animation: forward-ping 0.75s cubic-bezier(0, 0, 0.2, 1) normal;
}

@keyframes forward-ping {
  0% {
    transform: scale(2) rotateY(0deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1) rotateY(1440deg);
  }
}

.backward-ping {
  animation: backward-ping 1s cubic-bezier(0, 0, 0.2, 1) normal;
}

@keyframes backward-ping {
  0% {
    transform: scale(1) rotateY(1440deg);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2) rotateY(0deg);
  }
}
/* REACT SLICK  */
.slick-prev {
  backdrop-filter: blur(1.5px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 3rem !important;
  width: 3rem !important;
  text-align: center;
  color: black !important;
  font-size: 10px !important;
  left: 2% !important;
  z-index: 1;
}
.slick-next {
  backdrop-filter: blur(1.5px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 3rem !important;
  width: 3rem !important;
  text-align: center;
  color: black !important;
  font-size: 10px !important;
  right: 2% !important;
  z-index: 1;
}
.slick-prev::before {
  display: none;
}
.slick-next::before {
  display: none;
}
.slick-dots li button:before {
  color: #7944f6 !important;
}
/* REACT CALENDAR  */
.react-calendar {
  border: none !important;
}

abbr {
  text-decoration: none !important;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  color: #ba01ff !important;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #7944f6;
  color: white !important;
  border-radius: 4px;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background-color: #7944f6;
  color: white !important;
  border-radius: 4px;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #7944f6;
  color: white !important;
  border-radius: 3.5px;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: transparent;
}

/* REACT SELECT  */
.css-1s2u09g-control {
  border: none !important;
  cursor: pointer !important;
  width: 180px;
  box-shadow: none !important;
  background-color: transparent !important;
}
.css-1pahdxg-control {
  border: none !important;
  width: 180px;
  cursor: pointer !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.css-1okebmr-indicatorSeparator {
  display: none !important;
}
.css-tlfecz-indicatorContainer {
  display: none !important;
}
.css-1gtu0rj-indicatorContainer {
  display: none !important;
}
/* REACT SELECT DROPDOWN  */
#react-select-3-listbox {
  margin-top: 20px !important;
  border: none !important;
}

/* REACT TIMEKEEPER  */
.react-timekeeper__tb-hour.react-timekeeper__tb-hour--active.css-1igvx5z-timeSelected-time-TopBar {
  color: #7944f6;
}
.react-timekeeper__tb-minute.react-timekeeper__tb-minute--active.css-rt16tf-timeSelected-time {
  color: #7944f6;
}
.react-timekeeper__clock-hand.css-yxfhll-line {
  stroke: rgb(121, 68, 246, 0.3) !important;
}
.react-timekeeper__hand-circle-center.css-uby47j-centerCircle {
  fill: rgb(121, 68, 246, 0.3) !important;
}
.react-timekeeper__hand-circle-outer.css-200z2t-outerCircle {
  fill: rgb(121, 68, 246, 0.3) !important;
}
.react-timekeeper__hand-intermediate-circle.css-14lwqju-intermediateMinuteCircle {
  fill: rgb(121, 68, 246, 0.3) !important;
}
.react-timekeeper-button-reset.react-timekeeper__meridiem-toggle.react-timekeeper__meridiem--active.css-dlroum-meridiem {
  background-color: rgb(121, 68, 246, 0.2);
}
.react-timekeeper-button-reset.react-timekeeper__meridiem-toggle.react-timekeeper__meridiem--active.css-1n3f8ki-meridiem {
  background-color: rgb(121, 68, 246, 0.2);
}

/* SIDEBAR  */
.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  /* width: 100%; */
  /* overflow: hidden; */
  background-color: #f1f1f1;
}
.sidebar {
  width: 78px;
  padding: 6px 14px;
  margin-left: 7px;
  margin-top: 15px;
}
.sidebar.active {
  width: 240px;
}
.sidebar .logo_content .logo {
  height: 50px;
  width: 100%;
  opacity: 0;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  padding: 0 5px;
}
.sidebar #btn {
  color: #fff;
  top: 6px;
  left: 50%;
  height: 50px;
  padding: 10px;
  width: 50px;
  line-height: 50px;
  transform: translate(-50%);
}
.sidebar #btn.btn-blue:hover {
  color: #015ff3;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px 2px #fff;
}
.sidebar #btn.btn-purple:hover {
  color: #ba01ff;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px 2px #fff;
}
.sidebar.active #btn {
  left: 78%;
  transform: rotateY(160deg);
}
.sidebar ul li {
  height: 50px;
  margin: 10px 0px;
  line-height: 50px;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translateY(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input {
  background: hsla(227, 76%, 62%, 0);
  padding-left: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.sidebar ul li input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li.tab-blue a:hover {
  color: #015ff3;
  background-color: #fff;
  box-shadow: 0 0 10px 2px #fff;
}
.sidebar ul li.tab-purple a:hover {
  color: #ba01ff;
  background-color: #fff;
  box-shadow: 0 0 10px 2px #fff;
}
.sidebar ul li i {
  font-size: 20px;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

/* BOOTSTRAP CHECKBOX  */
.form-check-input:checked.checkbox-purple {
  background-color: #7944f6;
  border-color: #7944f6;
}
.form-check-input.checkbox-purple:focus {
  border-color: rgb(121, 68, 246, 0.3);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(121, 68, 246, 0.3);
}
.form-check-input:checked.checkbox-blue {
  background-color: #015ff3;
  border-color: #015ff3;
}
.form-check-input.checkbox-blue:focus {
  border-color: rgb(0, 93, 242, 0.3);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(0, 93, 242, 0.3);
}
