@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("../node_modules/@syncfusion/ej2-base/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-inputs/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-popups/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-lists/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-react-calendars/styles/material.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sign-in-button {
  background: linear-gradient(135deg, #2437da, #1340e8);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #1340e8;
}
.sign-in-button2 {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77efec;
}
.dashboard-review {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77efec;
}
.navbar2 {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
  box-shadow: 0px 0px 10px 0px #77efec;
}
.offcanvas-header {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
}
.form-labels {
  background: linear-gradient(135deg, #015ff3, #77efec);
  background-size: 110%;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
}
.close-btn:hover {
  background: linear-gradient(135deg, red, red);
}

.admin-checkbox:checked {
  background: linear-gradient(135deg, #015ff3, #77efec);
  border: none;
}

/* REACT CALENDAR  */
.react-calendar {
  border: none !important;
}

abbr {
  text-decoration: none !important;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  color:  cyan !important;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #015FF3;
  color: white !important;
  border-radius: 4px;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #015FF3;
  color: white !important;
  border-radius: 3.5px;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: transparent;
}
